/* line 61, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%; }

/* line 64, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.5em; }

/* line 13, ../sass/partials/_base.scss */
body {
  font-family: 'ComfortaaRegular', Arial, Helvetica, sans-serif;
  color: #a7a7a7;
  background-color: white; }

/* line 19, ../sass/partials/_base.scss */
h1 {
  color: #484848; }

/* line 23, ../sass/partials/_base.scss */
a {
  color: #484848;
  text-decoration: none; }
  /* line 26, ../sass/partials/_base.scss */
  a:hover, a:focus {
    text-decoration: underline; }
  /* line 29, ../sass/partials/_base.scss */
  a:visited {
    color: #a7a7a7; }

/* line 37, ../sass/partials/_base.scss */
.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden; }

/* line 44, ../sass/partials/_base.scss */
.clearfix:after {
  clear: both; }

/* line 48, ../sass/partials/_base.scss */
.clearfix {
  zoom: 1;
  /* IE < 8 */ }

/* line 17, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: 'ComfortaaThin';
  src: url("../fonts/Comfortaa_Thin-webfont.eot");
  src: url("../fonts/Comfortaa_Thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Comfortaa_Thin-webfont.woff") format("woff"), url("../fonts/Comfortaa_Thin-webfont.ttf") format("truetype"), url("../fonts/Comfortaa_Thin-webfont.svg#ComfortaaThin") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ComfortaaRegular';
  src: url("../fonts/Comfortaa_Regular-webfont.eot");
  src: url("../fonts/Comfortaa_Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Comfortaa_Regular-webfont.woff") format("woff"), url("../fonts/Comfortaa_Regular-webfont.ttf") format("truetype"), url("../fonts/Comfortaa_Regular-webfont.svg#ComfortaaRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ComfortaaBold';
  src: url("../fonts/Comfortaa_Bold-webfont.eot");
  src: url("../fonts/Comfortaa_Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Comfortaa_Bold-webfont.woff") format("woff"), url("../fonts/Comfortaa_Bold-webfont.ttf") format("truetype"), url("../fonts/Comfortaa_Bold-webfont.svg#ComfortaaBold") format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 33, ../sass/style.scss */
header {
  background-color: white;
  width: 100%;
  height: 100px; }
  /* line 37, ../sass/style.scss */
  header h1 {
    font-family: 'ComfortaaThin', Arial, Helvetica, sans-serif;
    font-size: 3em;
    width: 500px;
    float: left;
    text-transform: uppercase;
    text-align: center;
    padding: 25px 0; }
    /* line 45, ../sass/style.scss */
    header h1 a, header h1 a:hover, header h1 a:visited {
      color: #484848;
      text-decoration: none; }
    @media (max-width: 850px) {
      /* line 37, ../sass/style.scss */
      header h1 {
        width: 100%;
        float: none; } }
    @media (max-width: 320px) {
      /* line 37, ../sass/style.scss */
      header h1 {
        font-size: 2em; } }

/* line 61, ../sass/style.scss */
nav ul {
  width: 300px;
  float: right;
  margin: 45px 25px 0 0; }
  @media (max-width: 850px) {
    /* line 61, ../sass/style.scss */
    nav ul {
      width: 320px;
      margin: 0 auto;
      float: none; } }
  /* line 70, ../sass/style.scss */
  nav ul li {
    float: left;
    width: 100px;
    display: block;
    text-align: center; }
    /* line 76, ../sass/style.scss */
    nav ul li a, nav ul li a:visited {
      font-family: 'ComfortaaThin', Arial, Helvetica, sans-serif;
      color: #484848;
      text-transform: uppercase; }
      /* line 80, ../sass/style.scss */
      nav ul li a:hover, nav ul li a:focus, nav ul li a:visited:hover, nav ul li a:visited:focus {
        color: #a7a7a7;
        text-decoration: none; }

/* line 91, ../sass/style.scss */
#home_image {
  width: 100%;
  float: left; }

/* line 96, ../sass/style.scss */
.centered {
  width: 33.33333%;
  margin: 20px 33.33333%; }
  @media (max-width: 850px) {
    /* line 96, ../sass/style.scss */
    .centered {
      width: 50%;
      margin: 20px 25%; } }

/* line 105, ../sass/style.scss */
#about, #contact, #login, .admin, #error {
  width: 100%;
  float: left;
  margin-top: 50px;
  min-height: 300px; }
  /* line 110, ../sass/style.scss */
  #about h2, #contact h2, #login h2, .admin h2, #error h2 {
    font-family: 'ComfortaaThin', Arial, Helvetica, sans-serif;
    font-size: 1.875em;
    line-height: 1.6em;
    color: #484848; }
    @media (max-width: 850px) {
      /* line 110, ../sass/style.scss */
      #about h2, #contact h2, #login h2, .admin h2, #error h2 {
        font-size: 2em;
        line-height: 1.5em; } }
  /* line 116, ../sass/style.scss */
  #about p, #contact p, #login p, .admin p, #error p {
    margin: 0.8em auto 0;
    line-height: 2em; }
    @media (max-width: 850px) {
      /* line 116, ../sass/style.scss */
      #about p, #contact p, #login p, .admin p, #error p {
        font-size: 1.5em;
        line-height: 2em;
        line-height: 1.5em; } }
  /* line 122, ../sass/style.scss */
  #about form, #contact form, #login form, .admin form, #error form {
    width: 250px; }
    /* line 124, ../sass/style.scss */
    #about form input, #contact form input, #login form input, .admin form input, #error form input {
      margin: 10px 0; }
    @media (max-width: 850px) {
      /* line 122, ../sass/style.scss */
      #about form, #contact form, #login form, .admin form, #error form {
        margin: 0 auto; } }

/* line 132, ../sass/style.scss */
.content_text {
  width: 50%;
  background: green; }
  @media (max-width: 480px) {
    /* line 132, ../sass/style.scss */
    .content_text {
      width: 90%;
      margin: 0 5%; } }

/* line 139, ../sass/style.scss */
#work {
  position: relative;
  width: 100%;
  float: left; }

/* line 144, ../sass/style.scss */
#gallery {
  width: 100%; }
  /* line 146, ../sass/style.scss */
  #gallery #container {
    margin-left: 5%; }
    @media (max-width: 480px) {
      /* line 146, ../sass/style.scss */
      #gallery #container {
        margin-left: 0;
        margin-top: 20px; } }
  /* line 151, ../sass/style.scss */
  #gallery .item {
    width: 160px;
    height: 160px;
    overflow: hidden;
    margin: 20px;
    float: left; }
    @media (max-width: 480px) {
      /* line 151, ../sass/style.scss */
      #gallery .item {
        width: 96%;
        height: auto;
        margin: 10px 2%; } }
    /* line 161, ../sass/style.scss */
    #gallery .item img {
      width: 100%; }

/* line 171, ../sass/style.scss */
.modal-content {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0; }

/* line 178, ../sass/style.scss */
.reveal-modal-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  background: white;
  zoom: 1;
  filter: alpha(opacity=90);
  opacity: 0.9;
  z-index: 100;
  display: none;
  top: 0;
  left: 0; }

/* line 192, ../sass/style.scss */
.reveal-modal {
  visibility: hidden;
  top: -50px;
  left: 0;
  width: 50%;
  margin: 0 25%;
  position: absolute;
  z-index: 101; }
  /* line 200, ../sass/style.scss */
  .reveal-modal img {
    width: 100%;
    margin-top: 10px; }
  @media (max-width: 850px) {
    /* line 192, ../sass/style.scss */
    .reveal-modal {
      top: 30px;
      width: 80%;
      margin: 0 10%; } }
  @media (max-width: 480px) {
    /* line 192, ../sass/style.scss */
    .reveal-modal {
      top: -50px; } }

/* line 215, ../sass/style.scss */
.reveal-modal .close-reveal-modal {
  font-size: 22px;
  line-height: .5;
  position: absolute;
  top: 0;
  right: 0;
  color: #aaa;
  text-shadow: 0 -1px 1px rbga(0, 0, 0, 0.6);
  font-weight: bold;
  cursor: pointer; }
  /* line 225, ../sass/style.scss */
  .reveal-modal .close-reveal-modal:hover {
    text-decoration: none; }

/* line 232, ../sass/style.scss */
.admin ul, .admin p, .admin form, #about p, #contact p {
  margin: 0.8em 10px 0;
  line-height: 3em; }
  @media (max-width: 480px) {
    /* line 232, ../sass/style.scss */
    .admin ul, .admin p, .admin form, #about p, #contact p {
      line-height: 1.5em; } }

/* line 240, ../sass/style.scss */
#about.admin form {
  width: 90%; }
  /* line 242, ../sass/style.scss */
  #about.admin form p {
    width: 100%; }

/* line 247, ../sass/style.scss */
#home p, #work p a, #contact p a, #about p a, #error p a, #login p a {
  text-transform: uppercase; }

/* line 251, ../sass/style.scss */
#work ul form, #login form {
  width: 800px;
  overflow: hidden; }
  /* line 254, ../sass/style.scss */
  #work ul form p, #login form p {
    float: left; }
  /* line 257, ../sass/style.scss */
  #work ul form input, #login form input {
    margin: 18px 5px 0; }

/* line 261, ../sass/style.scss */
#login form {
  width: 250px;
  position: relative; }
  /* line 264, ../sass/style.scss */
  #login form input#username, #login form input#password {
    width: 150px; }
  /* line 267, ../sass/style.scss */
  #login form input#password {
    margin-left: 9px; }

/* line 273, ../sass/style.scss */
#addform form, #editform form {
  margin: 0.8em 10px 0;
  line-height: 3em;
  position: relative; }
  /* line 277, ../sass/style.scss */
  #addform form input, #editform form input {
    position: absolute;
    left: 100px; }
    /* line 280, ../sass/style.scss */
    #addform form input #filename, #editform form input #filename {
      top: 0; }
    /* line 283, ../sass/style.scss */
    #addform form input #description, #editform form input #description {
      top: 3em; }
    /* line 286, ../sass/style.scss */
    #addform form input #addPainting, #editform form input #addPainting {
      top: 6em; }
/* line 292, ../sass/style.scss */
#addform p, #editform p {
  margin-top: 50px; }
  /* line 294, ../sass/style.scss */
  #addform p a, #editform p a {
    text-transform: uppercase; }

/* line 300, ../sass/style.scss */
.about#editform #information {
  top: 55px;
  width: 300px;
  height: 220px;
  max-height: 220px;
  overflow: scroll; }
/* line 307, ../sass/style.scss */
.about#editform #heading {
  top: 10px; }
/* line 310, ../sass/style.scss */
.about#editform #addPainting {
  top: 315px;
  left: 0; }

/* line 317, ../sass/style.scss */
.css3button {
  color: #484848;
  text-transform: uppercase;
  padding: 2px 10px;
  background: -moz-linear-gradient(top, #a7a7a7 0%, #a7a7a7);
  background: -webkit-gradient(linear, left top, left bottom, from(#a7a7a7), to(#a7a7a7));
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5), inset 0px 0px 0px white;
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5), inset 0px 0px 0px white;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5), inset 0px 0px 0px white; }
  /* line 341, ../sass/style.scss */
  .css3button:hover {
    cursor: pointer; }

/* line 346, ../sass/style.scss */
.admin p a {
  padding-bottom: 50px; }

/* line 354, ../sass/style.scss */
footer {
  width: 100%;
  height: 50px;
  float: left; }
  /* line 358, ../sass/style.scss */
  footer #copy {
    color: #484848;
    text-transform: uppercase;
    font-size: 0.6em;
    width: 100%;
    text-align: center;
    padding: 20px 0; }
