
// Modules and Variables
@import "modules/colors";
@import "partials/base";

// Partials
@import "partials/reset";
@import "partials/typography";

// Third-party


// Media-Queries
@mixin breakpoint($point) {
  @if $point == ganzgross {
    @media (max-width: 1600px) { @content; }
  }
  @else if $point == gross {
    @media (max-width: 1250px) { @content; }
  }
  @else if $point == mittelgross {
    @media (max-width: 650px)  { @content; }
  }
}
//////////header//////////

header{
    background-color: $header-color;
    width: 250px;
    min-height: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.8;//add ie fix
    h1{
        font-family: 'ComfortaaThin', Arial, Helvetica, sans-serif;
        font-size: 3em;
        text-transform: uppercase;
        text-align: center;
        padding: 50px 0;
    }
}

//////////nav//////////
    nav{
        ul{
            margin: 0 auto;
            li{
                a{
                    display: block;
                    width: 30%;
                    margin: 50px 35%;
                    text-align: center;
                    &:hover, &:focus{
                        color: $heading-color;
                    }
                }
            }
        }
    }

//////////content//////////

#fullscreen{
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.5;//add ie fix
}

//////////footer//////////

footer{
    width: 250px;
    position: absolute;
    bottom: 0;
    #copy{
        text-transform: uppercase;
        font-size: 0.6em;
        width: 100%;
        text-align: center;
        padding: 20px 0;
    }
}


