
// Modules and Variables
@import "modules/colors";
@import "partials/base";

// Partials
@import "partials/reset";
@import "partials/typography";

// Third-party


// Media-Queries
@mixin breakpoint($point) {
  @if $point == ganzgross {
    @media (max-width: 1600px) { @content; }
  }
  @else if $point == gross {
    @media (max-width: 1250px) { @content; }
  }
  @else if $point == mittelgross {
    @media (max-width: 800px)  { @content; }
  }
  @else if $point == klein {
    @media (max-width: 650px)  { @content; }
  }
  @else if $point == ganzklein {
    @media (max-width: 480px)  { @content; }
  }
  @else if $point == totalklein {
    @media (max-width: 320px)  { @content; }
  }
}
//////////header//////////

header{
    background-color: $header-color;
    width: 20%;
    min-width: 250px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;//add ie fix
    @include breakpoint(klein) {width: 100%;
                                height: 100px;
                            }
    h1{
        font-family: 'ComfortaaThin', Arial, Helvetica, sans-serif;
        font-size: 3em;
        text-transform: uppercase;
        text-align: center;
        padding: 50px 0;
        @include breakpoint(klein) {
                                    font-size: 2em;
                                    padding: 20px 0 0;}
    }
}

//////////nav//////////
    nav{
        ul{
            margin: 0 auto;
            li{
                @include breakpoint(klein) {float: left;
                                            width: 25%;}
                a{
                    font-family: 'ComfortaaThin', Arial, Helvetica, sans-serif;
                    color: $text-color;
                    text-align: center;
                    text-transform: uppercase;
                    display: block;
                    width: 30%;
                    margin: 50px 35%;
                    @include breakpoint(klein) {
                                                width: 100%;
                                                margin: 10px auto;}
                    &:hover, &:focus{
                        color: $heading-color;
                        text-decoration: none;
                    }
                }
            }
        }
    }

//////////content//////////

#fullscreen{
    min-height: 100%;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#about, #contact, #login, .admin{
    width: 50%;
    position: absolute;
    top: 0;
    right: 15%;
    margin-top: 170px;
    @include breakpoint(klein) {
                                width: 80%;
                                position: relative;
                                right: 0;
                                margin: 100px 10% 0;}
    h2{
        font-family: 'ComfortaaThin', Arial, Helvetica, sans-serif;
        @include adjust-font-size-to(30px);
        color: $heading-color;
        @include breakpoint(klein) {@include adjust-font-size-to(32px);}
    }
    p{
        margin: rhythm(1, 30px) auto 0;
        line-height: 2em;
        @include breakpoint(klein) {@include adjust-font-size-to(24px);
                                    line-height: 1.5em;}
    }
    form{
        width: 250px;
        input{
            margin: 10px 0;
        }
        @include breakpoint(klein) {
            margin: 0 auto;
        }
    }
}

#gallery{
    width: 70%;
    position: absolute;
    top: 40px;
    left: 350px;
    @include breakpoint(klein) {
                                width: 80%;
                                right: 0;
                                margin: 100px 10% 0;
                                top: 0;
                                left: 0;}
    .item {
    width: 160px;
    margin: 1%;
    float: left;
    @include breakpoint(klein) {
                                width: 96%;
                                margin: 10px 2%;}
    img{
        width: 100%;
    }
}

}


//////////modals//////////

.modal-content{
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
}
.reveal-modal-bg { 
        position: fixed; 
        height: 100%;
        width: 100%;
        background: $background-color;
        background: rgba(0,0,0,.9);
        z-index: 100;
        display: none;
        top: 0;
        left: 0; 
        }
    
    .reveal-modal {
        visibility: hidden;
        top: 100px; 
        left: 0;
        width: 50%;
        margin: 0 25%;
        position: absolute;
        z-index: 101;
        img{
            width: 100%;
            margin-top: 10px;
        }
        @include breakpoint(klein) {
                                top: 30px;
                                width: 80%;
                                margin: 0 10%;
                                }
        }
    
    .reveal-modal .close-reveal-modal {
        font-size: 22px;
        line-height: .5;
        position: absolute;
        top: 0;
        right: 0;
        color: #aaa;
        text-shadow: 0 -1px 1px rbga(0,0,0,.6);
        font-weight: bold;
        cursor: pointer;
        }

//////////admin//////////

.admin ul, .admin p, .admin form, #about p, #contact p{
    margin: rhythm(1, 30px) 10px 0;
    line-height: 3em;
}

#home p, #work p a, #contact p a, #about p a{
    text-transform: uppercase;
}

#work ul form{
    width: 800px;
    overflow: hidden;
    p{
        float: left;
    }
    input{
        margin: 18px 5px 0;
    }
}

#addform, #editform{ 
    form{
        margin: rhythm(1, 30px) 10px 0;
        line-height: 3em;
        position: relative;
        input{
            position: absolute;
            left: 100px;
            #filename{
                top: 0;
            }
            #description{
                top: 3em;
            }
            #addPainting{
                top: 6em;
            }
        }
    }
    p{
        margin-top: 50px;
        a{
            text-transform: uppercase; 
        }
    }    
}

.css3button {
    color: $heading-color;
    text-transform: uppercase;
    padding: 2px 10px;
    background: -moz-linear-gradient(
        top,
        #a7a7a7 0%,
        #a7a7a7);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#a7a7a7),
        to(#a7a7a7));
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow:
        0px 0px 0px rgba(000,000,000,0.5),
        inset 0px 0px 0px rgba(255,255,255,1);
    -webkit-box-shadow:
        0px 0px 0px rgba(000,000,000,0.5),
        inset 0px 0px 0px rgba(255,255,255,1);
    box-shadow:
        0px 0px 0px rgba(000,000,000,0.5),
        inset 0px 0px 0px rgba(255,255,255,1);
        &:hover{
            cursor: pointer;
        }
}


//////////footer//////////

footer{
    width: 20%;
    height: 50px;
    min-width: 250px;
    position: absolute;
    bottom: 0;
    @include breakpoint(klein) {
                                width: 100%;
                                }
    #copy{
        color: $heading-color;
        text-transform: uppercase;
        font-size: 0.6em;
        width: 100%;
        text-align: center;
        padding: 20px 0;
    }
}
#about-content{
    footer{
        @include breakpoint(klein) {
                                position: relative;
                                }
    }
}
#work-content{
    footer{
        display: none;
    }
}

